.page1
{
  background-color: #72D8F0 ;
}
.image1
{
  width: 40%;
  padding: 8%;
}
.inpage1
{
margin-left: 800px;
}
.links
{
  color: #4d5198;
  padding: 30px;
  text-decoration: none;
  font-family: 'Noto Serif Ahom', serif;
  font-size: 120%;
}
.heading
{
  color: #4d5198;
  margin-left: 570px;
  font-family: 'Arizonia', cursive;
  font-size: 6rem;
  margin-top: 5px;
}
.heading2
{
  color: #4d5198;
  margin-left: 700px;
  font-family: 'Noto Serif Ahom', serif;
  font-size: 150%;
  margin-top: 5px;
}
.uline
{
  text-decoration: underline;
}
.mount
{
  margin-top: 2px;
  margin-left: 500px;
}
.cloud2
{
  position: absolute;
  margin-bottom: 220px;
  margin-left: 310px;

}
.cloud1
{

  position: absolute;
  margin-top: 20px;
  margin-left: 1130px;

}
.image2
{
  padding-top: 6%;
  width:15%;
}
.hi
{
  color: #4d5198;
  font-family: 'Noto Serif Ahom', serif;
  font-size: 1.5rem;
}
.intro_para
{
  font-family: 'Noto Serif Ahom', serif;
  font-size: 1.3rem;
  padding-bottom: 6%;
}
.hrlines
{
  width:10%;
  border: 8px dotted #c6e5ec;
  border-bottom: none;   
}
.skills
{
  padding-top: 6%;
  font-family: 'Noto Serif Ahom', serif;
  color: #4d5198;
  padding-bottom: 2%;
}
.page3
{
  margin-left: 500px;
  padding-bottom: 3%;
}
.imag3
{
  margin-right: 4%;
  border-radius: 100%;
  width:15%;
  float: left;
  
}
.imag4
{
  margin-right: 40%;
  border-radius:100%;
  width:15%;
  float: right;
}
.intro_para2
{
  font-family: 'Noto Serif Ahom', serif;
  font-size: 1.3rem;
}
.intro_para4
{
  font-family: 'Noto Serif Ahom', serif;
  font-size: 1.3rem;
  padding-bottom: 2%;

}
.page311
{
  margin-left: 500px;
  padding-bottom: 6%;
}
.contact_blog
{
  color: #4d5198;
  font-family: 'Noto Serif Ahom', serif;
  font-size: 1.5rem;
  margin-left: 110px;
}

.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
    font-family: 'Noto Serif Ahom', serif;
  color: #4d5198;
   font-size: 1.5rem;
  background: #0ca2dd63;
  padding: 12px 22px 5px 20px;
  text-decoration: none;
  margin-left: 180px;
}

.btn:hover {
  background:  #3cb0fd;;
  text-decoration: none;
}  

.foot
{
  background-color:#72D8F0;
  padding: 1%;

}
.footlink
{
   color: #4d5198;
  padding: 2%;
  text-decoration: none;
 font-family: 'Noto Serif Ahom', serif;
  font-size: 120%;
  padding-bottom: 30px;
}
.foot_para
{
  font-family: 'Noto Serif Ahom', serif;
  padding-top: 4%;
  font-size: 1rem;
}